<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    Разрешения для работы приложения-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--        Вот тут я меняю иконку приложения на котенка-->
<!--    Еще я задала свой кастомный стиль, в котором убираю "бровку" у приложения с названием самого приложения-->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cat_avatar"
        android:label="Губарева_Итоговая"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pr_app_result.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".activities.ListJobActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FilesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Pr_app_result.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>